
.btn-yes{
    transition: all 0.3s ease-in-out;
}

.btn-no {

    transition: transform 0.5s ease-in-out;
}

.wrapper {
    position: relative;
}
.heart {
    position: fixed;
    font-size: 2rem;
    top: -1vh;
    transform: translateY(0);
    animation: fall 3s linear forwards;
    z-index: 9999;
}

.cursor-not-allowed{
    cursor: not-allowed;
}
  @keyframes fall {
    from {
       transform: translateY(0vh) translateX(-10vw); 
    }
    to {
       transform: translateY(105vh) translateX(10vw); 
    }
  }